<div class="buttons">
  <button class="btn btn-primary" (click)="openAdd()">Dodaj przepis</button>
  <button class="btn btn-secondary" (click)="openAdd()">Szczegóły</button>
</div>
<hr />

<ng-container *ngIf="isopen && recipe">
  <div class="maindetails">
    <h1>{{ recipe.name | json }}</h1>
    <h3>{{ recipe.rating | rating }}</h3>
  </div>
  <div class="image">
    <img src="{{ recipe.imageURL }}" alt="" class="img-thumbnail" />
  </div>

  <h4 class="text-center mt-3">Jak przyżądzić?</h4>
  <div class="recipeinstruction">
    <ol>
      <li *ngFor="let rec of recipe.description">{{ rec }}</li>
    </ol>
    <table>
      <tbody>
        <tr *ngFor="let item of recipe.ingriedients">
          <td>{{ item.name }}</td>
          <th>{{ item.value }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="!isopen && recipe">
<app-add-recipe></app-add-recipe>
</ng-container>
